html {
    box-sizing: border-box;
} 

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: rgb(243, 215, 124)
}

.cabecalho {
   text-align: center;

}

.menu {
    display: block;
    text-align: center;
    background-color: rgb(138, 7, 7);
    height: auto;
    padding: 2px 0 1px 0;
}

.baianas {
    text-align: center;
    margin: auto;
    display: block;
    width: 400px;
    height: auto;
}

.fotos-menu {
    display: inline-block;
}
.fotos-menu img {
    display: inline;
    width: 236px;
    height: 156px;
    padding: 10px;
    border-radius: 15%;
    outline-color:rgb(243, 215, 124);
    outline-style: outset;
    margin: 10px;
    
}

.fotos-menu img:hover {
    padding: 0;
    box-shadow: 10px 10px 5px black;
    transition: 0.3s;
    
}

.fotos-menu figcaption {
    font-weight: bolder;
    font-size: 25px;
    color: rgb(243, 215, 124);
}
