html {
    box-sizing: border-box;
} 

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: rgb(243, 215, 124)
}

.cabecalho {
   text-align: center;

}

.cabecalho h1 {
    color:rgb(138, 7, 7);
    font-size:60px;
    font-family: 'Satisfy', 'Comic Sans', sans-serif;
}

.cabecalho h2 {
    color: rgb(35, 35, 172);
    font-family: 'Satisfy', 'Comic Sans', sans-serif;
    font-size: 40px;
}

.menu {
    display: block;
    text-align: center;
    background-color: rgb(138, 7, 7);
    height: auto;
    padding: 2px 0 1px 0;
    border: solid 4px rgb(35, 35, 172);
}

.baianas {
    text-align: center;
    margin: auto;
    display: block;
    width: 400px;
    height: auto;
}

.fotos-menu {
    display: inline-block;
}
.fotos-menu img {
    display: inline;
    width: 236px;
    height: 156px;
    padding: 10px;
    border-radius: 15%;
    outline-color:rgb(243, 215, 124);
    outline-style: outset;
    margin: 10px;
    
}

.fotos-menu img:hover {
    padding: 0;
    box-shadow: 1px 1px 4px 8px rgb(243, 215, 124);
    transition: 0.3s;
    
}

.fotos-menu figcaption {
    font-size: 30px;
    color: rgb(243, 215, 124);
    font-family: 'Satisfy', 'Comic Sans', sans-serif;
}
